<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- External CSS -->
    <link rel="stylesheet" href="/css/foundation-icons.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/zabuto_calender.css">
    <link rel="stylesheet" href="/css/jquery.gritter.css">
</head>
<body>
    <%- body -%>

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/all.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/tooltip.js"></script>
</body>
</html>