<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/foundation-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Courier+Prime|Josefin+Sans|Montserrat|Nunito|Poppins|Quicksand|Roboto+Mono|Work+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <%- body -%>

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/all.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/tooltip.js"></script>
</body>
</html>