<%layout('boilerplate') -%>
<head>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body class="p-5">
    <nav class="navbar navbar-expand-md navbar-light nvbg">
        <a class="navbar-brand" href="#"><span id="brand" class="text-bold text-white">Easy</span> Locate</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav ml-auto text-white">
                <li class="nav-item">   
                    <a href="/portal" class="nav-link text-white text-bold">Portal</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link btn btn-light mx-2 buttons">Download For <i class="fi-social-android size-16"></i></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid" style="height: 100vh;">
        <div class="row m-1 justify-content-center align-items-center product-preview">
            <div class="col-md-6 col-sm-12">
                <h6 class="text-bold">Easy Locate <i class="fi-social-android size-18"></i></h6>
                <p class="h1 large-text">Every product within your reach. Your life made easier.</p>
                <button class="btn btn-light mx-2 buttons">Download For <i class="fi-social-android"></i></button>
            </div>
            <div class="col-md-6 py-sm-5 my-sm-5 image-preview text-center">
                <img src="/images/easy_locate_nobg.png" alt="Mobile Application" width="300" height="450">
            </div>
        </div>
    </div>
    <div class="row footer fixed-bottom justify-content-center align-items-center">
        <div class="col">
            <p class="text-center" data-toggle="tooltip" title="Developed by Ngonidzashe Mangudya [https://github.com/iamngvj]">Developed And Designed For Hit200   <a href="https://github.com/iamngvj/hitwo-frontend.git"><i class="fi-social-github size-18"></i></a></p>
        </div>
    </div>
</body>
