<%layout('boilerplate') -%>
<head>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body class="p-5 bg-light">
    <nav class="navbar navbar-expand-md navbar-light nvbg">
        <a class="navbar-brand" href="/"><span id="brand" class="text-bold text-white">Easy</span> Locate</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav ml-auto text-white">
                <li class="nav-item">
                    <a href="/portal" class="nav-link text-white text-bold">Portal</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link btn btn-light mx-2 buttons">Download For <i class="fi-social-android size-16"></i></a>
                </li>
            </ul>
        </div>
    </nav>
    <% if(errors != ""){ %>
        <div class="alert alert-danger my-5 p-3" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <%=errors%>
        </div>
    <% } %>
    <div class="container-fluid bg-white my-5 p-3">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-12 login-form-area">
                <h3 class="text-xs-center text-sm-center text-md-left">Register Business Details Below</h3>
                <hr>
                <form id="loginform" name="loginform" method="POST" action="/store/signup" onsubmit="login(event)">
                    <fieldset class="form-group">
                        <label for="name">Name</label>
                        <label for="error" class="text-danger" id="name-error"></label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="&#xf16d; Easy Locate Solutions" required>
                        <hr>
                        <label for="password">Business Email</label>
                        <label for="error" class="text-danger" id="email-error"></label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="📨 easylocate@easylocate.sln" required>
                        <hr>
                        <label for="phone">Business Contact Number <span>[Strictly include country code]</span></label>
                        <label for="error" class="text-danger" id="contact-error"></label>
                        <input type="text" class="form-control" name="phone" id="phone" placeholder="📱 263 771 111 111">
                        <hr>

                    </fieldset>
                    <button class="form-control buttons-submit" type="submit" id="btn-login">LOGIN</button>
                </form>
            </div>
            <div class="col-md-12 my-5">
                <p>You're already registered? No worries! <a href="/portal">Sign in here</a>.</p>
            </div>
        </div>
    </div>
    <div class="row footer fixed-bottom justify-content-center align-items-center">
        <div class="col">
            <p class="text-center" data-toggle="tooltip" title="Developed by Ngonidzashe Mangudya [https://github.com/iamngvj]">Developed And Designed For Hit200   <a href="https://github.com/iamngvj/hitwo-frontend.git"><i class="fi-social-github size-18 text-light"></i></a></p>
        </div>
    </div>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script>
        function login(event){
            event.preventDefault();
            var email = $('#email').val();
            var password = $('#password').val();
            if(password.length < 8){
                $("#password").focus();
                return document.getElementById("pass-error").innerText = "(password length is below expected minimum)";
            }else{
                document.loginform.submit();
            }
        }
    </script>
</body>